:root {
    box-sizing: content-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

.section__title {
    margin: 0 -2rem 2rem -2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 4rem;
    color: black;
    background-color: rgb(172, 195, 163);
    text-align: center;
}

.subsection__title {
    margin: 1rem auto 4rem auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.6rem;
    /* width: 50%; */
    color: black;
    background-color: rgb(172, 195, 163);
    text-align: center;
    border-radius: 4px;
}



/* NAV STYLES */

.ppip-top-bar {
    height: 200px;
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    background-color: transparent;
}

.ppip-top-bar.ppip-top-bar--sticky {
    height: 60px;
    background-color: rgb(172, 195, 163);
    transition: all 1s;
}

.ppip-top-bar__logo {
    display: block;
    background-color: rgb(172, 195, 163);
    padding-top: 50px;
}

.ppip-top-bar__logo-img {
    width: 250px;
    height: 250px;
    background-color: rgb(172, 195, 163);
    border-radius: 0 0 125px 125px;
}

.ppip-top-bar__menu {
    display: none;
    transition: all 1s;
}

.ppip-top-bar__menu-link {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

/* TOP MENU STICKY */

.ppip-top-bar__menu--sticky {
    display: flex;
}



/* HERO STYLES */
.ppip-hero {
    height: 100vh;
    background-image: url(../img/hero-image-large.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* ABOUT STYLES */

.ppip-about__element-text {
    font-size: 1.2rem;
}

.ppip-about__element-image {
    background-image: url(../img/sesja-3.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
}

.ppip-about__element-container {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.ppip-about__exp {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url(../img/sesja-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.ppip-about__exp-title {
    width: 50%;
}

.ppip-about__exp-element {
    padding: 1rem;
    margin: 2rem;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 1s;
}

.ppip-about__exp-element-img {
    height: 100px;
    width: 100px;
}

.ppip-about__exp-element-name {
    font-size: 1.4rem;
    margin-bottom: 0;
}

.ppip-about__exp-element-year {
    font-size: 0.9rem;
    font-weight: 600;
}

.ppip-about__exp-element-desc {
    font-size: 1.1rem;
    margin: 1rem;
}

.ppip-about__exp-element-small {
    margin: 1rem auto;
    padding: 1rem 0;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 1s;

}

.ppip-about__exp-element-small-img {
    font-size: 2.2rem;
    margin: 0 1rem;
}

.ppip-about__exp-element-small-year {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 1rem;
}

.ppip-about__exp-element-small-desc {
    font-size: 1.3rem;
    margin: 0 1rem;
}

/* WORK STYLES */


.ppip-work {
    margin-bottom: 2rem
}

.ppip-work__quote {
    border-right: 5px solid rgb(172, 195, 163);
    border-left: 5px solid rgb(172, 195, 163);
    padding-top: 0.9rem;
    margin: 0 auto;
}

.ppip-work__quote-text {
    margin: 0;
    font-size: 1.2rem;
    font-style: italic;
}

.ppip-work__quote-author {
    margin: 0 1rem 0 0;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: end;
}

.ppip-work__elements-container {
    margin-top: 3rem;
}

.ppip-work__element {
    background-size: contain;
    background-repeat: no-repeat;
}

.ppip-work__psycho {
    background-image: url(../img/brain-background.png);
    background-position: right;
}

.ppip-work__element-text {
    font-size: 1.1rem;
    margin: 1.5rem 1rem;
}

.ppip-work__element-question {
    width: 50%;
    padding: 0.7rem;
    font-size: 1.2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(172, 195, 163);
    border-radius: 5px;
}

.ppip-work__psydiet {
    background-image: url(../img/brain-background.png);
    background-position: left;
}

/* OFFER STYLES */

.ppip-offer {
    background-image: url(../img/sesja-3.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-bottom: 3rem;
}

.ppip-offer__descr {
    color: #fff;
    margin-top: 50px;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.ppip-offer__elements-container {
    padding: 30px 0;
    margin: 0;

    margin-left: auto;
    margin-right: auto;
}


/* .ppip-offer__element-bg.psych {
    background-image: url(https://cdn.pixabay.com/photo/2021/11/18/21/57/christmas-6807486_960_720.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

.ppip-offer__element-bg.psydiet {
    background-image: url(../img/sesja-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ppip-offer__element-bg.diet {
    background-color: #fff;
} */

.ppip-offer__element {
    position: relative;
    min-height: 500px;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 0;
    transition: 0.5s;
}

.ppip-offer__element-title {
    font-size: 1.4rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.ppip-offer__element-descr {
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
}

.ppip-offer__element-list {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ppip-offer__element-list-item {
    font-size: 1.05rem;
    margin-top: 1rem;
}

.ppip-offer__element-price {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: right;
    margin-right: 1.5rem;

}

.ppip-offer__element--small {
    position: relative;
    top: 0;
    margin: 10px 10px 20px 10px;
    padding: 15px 15px 15px 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: top 0.5s;
}

.ppip-offer__element:hover,
.ppip-offer__element--small:hover {
    top: -30px;
}


/* CONTACT STYLES */

.ppip-contact {
    background-color: rgb(172, 195, 163);
    padding-bottom: 60px;
    padding-top: 30px;
}

.ppip-contact__descr {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.ppip-contact__element-container {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.ppip-contact__element-img {
    width: 100%;
    height: 100%;
}


.ppip-contact__element-name {
    font-size: 1.7rem;
}

.ppip-contact__element-descr {
    font-size: 1.5rem;
}

.ppip-contact__element-link {
    text-decoration: none;
    color: black;
}

.ppip-contact__element-link-icon {
    font-size: 2rem;
    padding: 10px;
    margin: 0.8rem;
    border: 2px solid black;
    border-radius: 50%;
}

.ppip-contact__element-data-divider {
    width: 40%;
    margin-left: 0;
    border: 0;
    border-top: 2px solid #000;
}

.ppip-contact__element-descr-icon {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}


/* FOOTER STYLES */

.ppip-footer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    margin: 0;
    align-items: center;
}

.ppip-footer__text {
    font-size: 14px;
    text-align: center;
}