body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.section-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

